body{
    background-image: url(../img/image2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.parent{
    text-align: center;
    margin-top: 120px;
    color: white;
}
.image img{
    width: 250px;
    height: 250px;
}
button{
    border-radius: 30px;
    padding: 10px;
    color: rgb(129, 24, 129);
    font-size: 15px;
}
.parent p{
    color: rgb(177, 246, 255);
    font-size: 22px;
}
